body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Heading{
  text-align: center;
  margin-top: 0;
  background-color: bisque;
  padding: 20px;
  font-size: 40px;
}

.oneItemContent{
  text-align: center;
  padding-bottom: 30px;
}
.oneItemContent label{
  font-size: 20px;
}
.oneItemContent input{
  font-size: 20px;
  margin-top: 30px;
}
.oneItemContent .product{
  float: left;
  margin-left: 20vw;
  font-size: 25px;
}

.oneItem {
  display: flex;
  align-items: center;
  align-self: center;
  margin-bottom: 20px;
}

.oneItem img {
  width: 20vw;
  height: auto;
  margin-left: 20vw;
}

.oneItem p {
  font-size: 20px;
  padding-left: 10vw;
}

.title{
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 10vw;
  margin: 10px;
  height: 5vw;
  background-color: bisque;
  font-weight: bolder;
}

.allItems{
  border: 5px solid rgb(113, 79, 37);
  margin: 10px;
}

form{
  margin: 30px;
}

form input{
  margin: 10px;
  width: 80vw;
  height: 5vw;
  font-size: 3vw;
}
form button{
  width: 80vw;
}

/* Reset default list styles */
nav ul {
  font-size: 15px;
  list-style: none;
  padding: 3px;
  margin: 0;
  background-color: rgb(113, 79, 37);
}

/* Style for navigation links */
nav a {
  text-decoration: none; /* Remove default underlines */
  color: white; /* Set link color */
  padding: 10px 10px; /* Adjust padding for spacing */
  display: inline-block;
}

/* Style for active link */
nav a:hover,
nav a:focus,
nav a:active,
nav .active {
  border-bottom: 2px solid white; /* Add underline for active link */
}

/* Adjust spacing between navigation links */
nav li {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 20px; /* Adjust the margin for spacing */
}
